/*  your css code here. If applicable */
#yellow {
  background-color: yellow;
  
  border: green solid 1px;
}

#red {
  background-color: red;
  border: black solid 1px;
}

#green {
  background-color: green;
  
  border: yellow solid 1px;
}
